<p><a href="<%= lecture_tasks_path @struct.lecture %>" class=''>&laquo; Back to tasks</a></p>

<a href="<%= new_lecture_task_solution_path(@struct.lecture, @struct.task) %>" class="btn btn-primary">Add solution</a>

<h3>Solutions</h3>
<h4><%= @struct.lecture.name %> - <%= @struct.task.name %></h4>

<% if @struct.solutions.present? %>
    <table class="table table-hover table-striped table-condensed">
        <tr>
            <th>Name</th>
            <th></th>
        </tr>
        <% @struct.solutions.each do |solution| %>
            <tr>
                <td>Solution #<%= solution.id %></td>
                <td class='buttons'>
                    <a href="<%= lecture_task_solution_path(@struct.lecture, @struct.task, solution) %>" class="btn btn-xs btn-default">View</a>
                    <a href="<%= edit_lecture_task_solution_path(@struct.lecture, @struct.task, solution) %>" class="btn btn-xs btn-default">Edit</a>
                </td>
            </tr>
        <% end %>
    </table>
<% else %>
    <p>No solutions exist yet.</p>
<% end %>