<%= render 'back_button' %>

<div class="panel panel-default">
    <div class="panel-heading">
        <h3 class='panel-title'>Solution #<%= @struct.solution.id %></h3>        
    </div>
        
    <div class="panel-body">
        <%= @struct.solution.body %>
    </div>

    <div class="panel-footer">
        <%= @struct.lecture.name %> - <%= @struct.task.name %>
    </div>
</div>

<p>
    <%= form_tag(lecture_task_solution_path(@struct.lecture, @struct.task, @struct.solution), method: "delete") do %>
        <a href="<%= lecture_task_solution_path(@struct.lecture, @struct.task, @struct.solution) %>/edit" class="btn btn-xs btn-default">Edit</a>
        <button type='submit' class='btn btn-danger btn-xs'>Delete solution</button>
    <% end %>
</p>