<%= render 'back_button' %>

<div class="panel panel-default">
    <div class="panel-heading">
        <h3 class='panel-title'>Solution #<%= @solution.id %></h3>        
    </div>
        
    <div class="panel-body">
        <%= @solution.body %>
    </div>

    <div class="panel-footer">
        <%= @lecture.name %> - <%= @task.name %>
    </div>
</div>

<p>
    <%= form_tag(lecture_task_solution_path(@lecture, @task, @solution), method: "delete") do %>
        <a href="<%= lecture_task_solution_path(@lecture, @task, @solution) %>/edit" class="btn btn-xs btn-default">Edit</a>
        <button type='submit' class='btn btn-danger btn-xs'>Delete solution</button>
    <% end %>
</p>