<%= render '/back_button' %>

<div class="panel">
    <div class="panel-heading">
        <h3><%= @lecture.name %></h3>        
    </div>
        
    <div class="panel-body">
        <p><%= @lecture.description %></p>
    </div>
</div>

<p>
    <%= form_tag(lecture_path(@lecture), method: "delete") do %>
        <a href="<%= lecture_path(@lecture) %>/edit" class="btn btn-xs btn-default">Edit</a>
        <button type='submit' class='btn btn-danger btn-xs'>Delete lecture</button>
    <% end %>
</p>