<%= render '/back_button' %>

<a href="<%= lecture_path(@struct.lecture) %>/tasks/new" class="btn btn-primary">Add task</a>

<h3>Tasks</h3>
<h4><%= @struct.lecture.name %></h4>

<% if @struct.tasks.present? %>
    <table class="table table-hover table-striped table-condensed">
        <tr>
            <th>Name</th>
            <th></th>
        </tr>
        <% @struct.tasks.each do |task| %>
            <tr>
                <td><%= task.name %></td>
                <td class='buttons'>
                    <a href="<%= lecture_task_path(@struct.lecture, task) %>" class="btn btn-xs btn-default">View</a>
                    <a href="<%= lecture_task_path(@struct.lecture, task) %>/edit" class="btn btn-xs btn-default">Edit</a>
                    <a href="<%= lecture_task_path(@struct.lecture, task) %>/solutions" class="btn btn-xs btn-info">Solutions</a>
                </td>
            </tr>
        <% end %>
    </table>
<% else %>
    <p>No tasks exist yet.</p>
<% end %>